TREND_PORT=8102
TREND_HOST=127.0.0.1
TREND_MODE=rule_based_fallback
TREND_EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2
TREND_MIN_TOPIC_SIZE=2
TREND_TOP_N_WORDS=8
TREND_UMAP_N_NEIGHBORS=5
TREND_UMAP_N_COMPONENTS=5
TREND_HDBSCAN_MIN_CLUSTER_SIZE=2
